body {
    background-color: silver;
}
#default {
    color: black;
    background-color: grey;
    border-radius: 5px;
    padding: 2% 3% 2% 3%;
    margin: 1%;
    border: 2px solid black;
}
#bg-color {
    color: black;
    background-color: grey;
    border-radius: 5px;
    padding: 2% 3% 2% 3%;
    margin: 1%;
    border: 2px solid black;
}
#block {
    color: black;
    background-color: grey;
    border-radius: 5px;
    padding: 2% 3% 2% 3%;
    margin: 1%;
    border: 2px solid black;
}
#small {
    color: black;
    background-color: grey;
    border-radius: 5px;
    padding: 2% 3% 2% 3%;
    margin: 1%;
    border: 2px solid black;
}
#bold {
    color: black;
    background-color: grey;
    border-radius: 5px;
    padding: 2% 3% 2% 3%;
    margin: 1%;
    border: 2px solid black;
}
#italic {
    color: black;
    background-color: grey;
    border-radius: 5px;
    padding: 2% 3% 2% 3%;
    margin: 1%;
    border: 2px solid black;
}
#underline {
    color: black;
    background-color: grey;
    border-radius: 5px;
    padding: 2% 3% 2% 3%;
    margin: 1%;
    border: 2px solid black;
}
#box {
    margin: 10% 10% 3% 10%;
    padding: 10% 21% 10% 21%;
    border-radius: 5px;
    background-color: grey;
    border: 2px solid black;
}
#btn-div {
    margin: 0% 0% 0% 9.2%;
}
